body {
  font-family: Tahoma, sans-serif;
  margin: 0;
}
.ContactView-title {
  font-size: 24px;
  padding: 0 24px;
}
.ContactView-list {
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid #f0f0f0;
  display: inline;
  float: left;
  width: 98%;
}
.ContactItem {
  margin: 0;
  padding: 8px 24px;
  border-bottom: 1px solid #f0f0f0;
  display: inline;
  float: left;
  width: 100%;
}
.ContactItem-name {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}
.ContactItem-email {
  font-size: 14px;
  margin-top: 4px;
  font-style: italic;
  color: #888;
}
.ContactItem-description {
width: 50%;
display: inline;
float: left;
position: relative;
margin-left: 10px;
}
.ContactItem-clase {
  width: 100%;
  display: inline;
  float: left;
  position: relative;
  font-size: 14px;
  margin-top: 4px;
}
.ContactItem-image {
width: 100px;
height: auto;
display: inline;
float: left;
position: relative;
}
.ContactForm {
  padding: 8px 24px;
}
.ContactForm > input,
.ContactForm > textarea,
.ContactForm > select {
  display: block;
  width: 240px;
  padding: 4px 8px;
  margin-bottom: 8px;
  border-radius: 3px;
  border: 1px solid #888;
  font-size: 14px;
}
.ContactForm > select {
  width: 255px;
}
.ContactItem-edit {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-right: 10px;
}
.ContactItem-delete {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-right: 10px;
}
form button {
  cursor: pointer;
}
#formulario {
  display: none;
}